<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.domain.user.mapper.UserFindMapper">

	<select id="selectUserWithAuthorityByUsername" resultType="com.spring.demo.domain.user.dto.Account">
		SELECT
			*
		FROM
			users u
		    INNER JOIN user_authorities a
		    ON u.id = a.user_id
		WHERE
			u.username = #{username}	
	</select>
	
	
</mapper>